* {
  margin: 0;
  font-family: "Open Sans";
}

/* section */
section {
  margin-top: 130px;
}
/* header and navigation style. */
.nav-style {
  font-weight: 800;
  font-size: 45px;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  padding: 18px 35px;
  height: 64px;
  border-radius: 5px;
  background-color: #fd6e0a;
  color: #ffffff;
  border: 0;
}

.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-left: 50px;
  align-items: center;
}

.banner {
  align-items: center;
  display: flex;
  margin: 0 200px;
}
.banner-subtitle {
  color: #474747;
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 10px;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  color: #181818;
  margin-bottom: 15px;
}

.banner-description {
  color: #757575;
  margin-bottom: 30px;
}

/* Main section title */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* About Section */

.about {
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  /* font-weight: 700;
  font-size: 35px; */
}
.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}

.section-descriptioon {
  color: #757575;
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
}

.about-info-con {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.info-title {
  color: #757575;
  font-size: 20px;
}

.about .info-description {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}

/* What i do section */
.what-i-do-des {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  margin-bottom: 30px;
}
.whatDescription{
  text-align: center;
  margin-bottom: 30px;
}

.skill-container {
  display: flex;
  gap: 24px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

/* Resume section */
.resume-content {
  display: flex;
  gap: 24px;
}

.resume-item {
  margin-top: 30px;
  margin-bottom: 30px;
}

.resume .title {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
  margin-top: 30px;
  margin-bottom: 10px;
}

.resume .sub-title {
  font-weight: 600;
  font-size: 20px;
  color: #757575;
}

.resume .description {
  color: #757575;
}

.resume-btn {
  margin-top: 20px;
  text-align: center;
}

/* contact section  */
.contact-bg-color{
  background: #fff8f3;

}

.contact .contact-title {
  text-align: left;
}

.contact {
  display: flex;
  gap: 100px;
  padding: 130px 200px;

  /* background: #fff8f3; */
}
input {
  height: 20px;
}
.contact input[type="text"],
input[type="email"],
textarea {
  margin-top: 24px;
  width: 100%;
  border: 0;
  padding: 18px 30px;
}

.contact a {
  text-decoration: none;
}

.contact-description {
  margin-top: 20px;
  margin-bottom: 30px;
}

.footer{
  background: #fff8f3;
}